.listen-icon{
  position: absolute;
  right: 10px; 
  top: 50%;
  transform: translateY(-50%); 
}
.video-icon{
  position: absolute;
  right: 10px;
  top: 50%; 
  transform: translateY(-50%); 
}

.song-list {
  padding: 16px;
  padding-top: 80px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  grid-auto-rows: minmax(50px, auto); /* Each row adjusts based on content */
  gap: 10px; /* Space between items */ /* Adjust to desired width */
}

.song-item {
  padding: 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: height 0.3s ease;
  position: relative;
  display: flex;
  flex-direction: column; /* Stack content vertically */
  justify-content: center; /* Evenly distribute vertical space */
  text-align: center; /* Center text horizontally */
  min-height: 50px; /* Ensures there's enough space for vertical centering */
}
.song-item.expanded {
  height: auto;
  padding-bottom: 30px;
}x

.media-controls {
  display: none;
  margin-top: 10px;
}

.song-item.expanded .media-controls {
  display: block;
}

.play-bar {
  width: 100%;
  height: 5px;
  background-color: #eee;
  margin-top: 10px;
  position: relative;
}

.play-bar::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: #3b82f6;
}

.play-button, .skip-button {
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #3b82f6;
  color: white;
  border: none;
  cursor: pointer;
}

.video-element {
  width: 100%;
  margin-top: 10px;
}

p {
  text-align: center;
  color: var(--colorp)
}
